body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myCustomDD{
  padding-inline: 0 !important;
}

.myCustomDD span{
  background-color: transparent;
  padding: .5em;
  padding-inline: 2em
}

.myCustomDD span:hover{
  background-color: white;
  cursor: pointer;
}